.navbar1 {
  background-color: var(--color-bg-2nd);
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  position: fixed;
  padding: 0.31rem 0px;
}
/* .navbar1 > * {
    border: 1px solid yellow;

} */
.part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  gap: 0.51rem;
}
.logo {
  height: 2.5rem;
}
.ri-menu-fill {
  font-size: 40px;
  font-weight: 900;
}
.search-block {
  background-color: var(--color-bg-1st);
  border-radius: 6px;
  padding: 0rem;
  width: 70%;
  max-height: 32px;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: row-reverse;
}

input[type="text"]:focus {
  outline: none;
}
.search-filed {
  background-color: var(--color-bg-1st);
  border: none;
  max-width: 80%;
  border-radius: 9px;
}

.QA {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  font-size: 10px;
  margin-left: auto;
  height: 2rem;
}
.ri-search-line {
  position: relative;
  left: 3px;
  border-radius: 10px;
  display: flex;
  font-weight: bolder;
  line-height: 5px;
  align-items: center;
  color: var(--color-bg-4th);
  background-color: var(--color-bg-2nd);
}

.recommend {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.41rem;
  margin: 0;
  font-size: 12px;
  width: 38%;
  padding: 0%;
}
.recommend > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-ico {
  display: flex;
  align-items: center;
  font-size: 25px;
  width: 30px;
  height: 28px;
}
.social-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.42rem;
  width: 20%;
  font-size: 1.5rem;
}
.social-icon {
  display: flex;
  align-items: center;
  color: var(--color-light);
  transition: transform;
  border-radius: 5px;
  width: auto;
}
.itext {
  font-size: xx-small;
}
.social-icon:hover {
  transform: translateY(-5px);
  transition-delay: 0.02s;
  transition-duration: 0.3s;
}
.fb {
  background-color: var(--color-ico-facebook);
}

.tw {
  background-color: var(--color-ico-twitter);
}
.add {
  background-color: var(--color-ico-moreIco);
}
.lang {
  gap: 4px;
  background-color: var(--color-bg-3rd);
  border-radius: 5px;
  font-size: 0.9rem;
}
.account {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
  padding: 4px;
}
.ri-account-circle-fill {
  font-size: 35px;
}
.act-search {
  display: none;
}
.bell {
  font-size: large;
}

/* 
? the anime description part from now on 
 */









@media screen and (max-width: 700px) {
/*   
  ? nav-bar style
   */
    .search-block {
    display: none;
  }
  
.ri-menu-fill {
    font-size: 25px;
    font-weight: 900;
  }
  .recommend {
    display: none;
  }
  .act-search {
    display: inline;
    font-weight: bolder;
  }
  .logo {
    height: 1.5rem;
  }
  .navbar1{
    padding: 0.2rem 0rem;
  }
  .part1 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 14px;
  }
  .account {
    gap: 14px;

  }
}

  @media screen and (min-width: 700px) and (max-width: 1108px) {
  
.navbar1{
 border:  solid red;
}
.search-block {
  display: none
}
.part1{
  border:  solid red;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
  width: auto;
}
.recommend{
  font-size: 1rem;
  border: solid red;
  overflow:hidden;
  width: auto;
}
.social-link {
display: none;
}
.logo{
  width: auto;
}
.act-search {
  display: inline;
  font-weight: bolder;
}
.account {
  gap: 14px;

}
}
.slid{
  border: solid red;
  width:100%;
 }