

* {
  margin: 0% auto;
}
.bg-low-img {
  background-image: url(img/bg-lower.jpg);
  background-repeat: no-repeat;
  background-size: 145%;
  background-position: center;
}
.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  margin: 2rem auto;
  max-width: 50rem;
  min-height: 40rem;
  padding: 0px 8px;
}
.txt-container {
  margin: 0 auto;
  padding: 0px 8px;
  max-width: 50rem;
}
.logo {
  margin: 0px auto;
  width: 230px;
  height: 60px;
}
.small-navbar {
  margin: 30px auto;
  display: flex;
  gap: clamp(4px, 8px, 11px);
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: color 3s;
  
}
.nav:hover,a:hover{
  color: var(--color-2nd-accent);
  cursor: pointer;
}
li {
  padding: 3px 12px;
  font-weight: 600;
  text-align: center;
}
.search-block {
  background-color: var(--color-bg-2nd);
  border-radius: 6px;
  padding: 0.8rem;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
}
.search-filed {
  line-height: 2rem;
  border: 0px;
  width: 90%;
  background-color: var(--color-light);
  border-radius: 9px;
}
.QA {
  display: none;
}
.ri-search-line {
  display: flex;
  align-items: center;
  position: relative;
  left: -26px;
  border-radius: 9px;
  color: rgb(68, 68, 68);
  background-color: var(--color-light);
}

/*
? deside later to add the feature
todo:drop down search results 
     */
.bg-TOP {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62%;
}
.img-actbtn {
  width: 100%;
}
.actbtn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 84%;
  left: 51%;
  border-radius: 30px;
  background: var(--color-actbtn);
  transform: translate(-50%, -50%);
}
.actbtn:hover,.btn:hover{
background-color: var(--color-actbtn-hover);  
}
 
.btn {
  font-size: 20px;
  padding: 0px 20px;
  background: var(--color-actbtn);
  border: none;
  line-height: 60px;
  border-radius: 30px;
}
.arrow {
  position: relative;
  left: -15px;
}
.social-link {
  margin: 19px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.5rem;
  align-items: center;
  padding: 0.6rem;
}
.social-icon {
  display: flex;
  align-items: center;
  color: var(--color-light);
  transition: transform;
  font-size: 1.5rem;
  height: 32px;
  width: 32px;
}
.itext{
  display: none;
  font-size: xx-small;
}
.social-icon:hover {
  transform: translateY(-5px);
  transition-delay: 0.02s;
  transition-duration: 0.3s;
}
.fb {
  background-color: var(--color-ico-facebook);
}

.tw {
  background-color: var(--color-ico-twitter);
}
.tl {
  background-color: var(--color-ico-telegram);
}
.mg {
  background-color: var(--color-ico-messenger);
}

.pi {
  background-color: var(--color-ico-pinterest);
}
.add {
  background-color: var(--color-ico-moreIco);
}

@media (max-width: 750px) {
  
  .actbtn {
    border: solid rebeccapurple;
    width: 70%;

    position: static;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
  
  .btn {
    font-size: 82%;
    font-weight: 700;
    padding: 0px 20px;
    background: var(--color-actbtn);
    border: none;
    line-height: 60px;
    border-radius: 30px;
  }

  .arrow {
    position: relative;
    left: -15px;
    width: 18%;
  }

  .social-link {
    border: solid rebeccapurple;
  }
  .social-icon {
    display: flex;
    align-items: center;
    color: var(--color-light);
    transition: transform;
    font-size: 1.5rem;
    height: 32px;
    width: 32px;
  }
}

@media (min-width: 1080px) {
  .search-block {
    background-color: var(--color-bg-2nd);
    border-radius: 6px;
    padding: 0px;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: baseline;
  }
  input[type="text"]:focus {
    outline: none;
}
  .search-filed {
    background-color: var(--color-bg-2nd);
    line-height: 1rem;
    border: 0px;
    width: 70%;
    border-radius: 9px;
  }
  .ri-search-line {
    position: relative;
    left: 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: rgb(68, 68, 68);
    background-color: var(--color-bg-2nd);
  }
  .QA {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 10px;
    height: 2rem;
  }
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    transition: transform;
    font-size: 1.5rem;
    height: 32px;
    width: 80px;
  }
  .itext{
padding: 2px;
    display: inline;
  font-size: xx-small;
  }
  /*
  ? deside later to add the feature
todo:drop down search results 
*/
}
